---
import {executeQuery} from "@src/utils/db";
import Dump from "@src/components/Dump.astro";
import TodosList from "@src/components/TodosList.astro";

const todos = executeQuery('todos');
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<script src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script>
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<p>To dos:</p>
		<ul>
			<li>[DONE] add better-sqlite3 and set up db</li>
			<li>[DONE] list to dos</li>
			<li>[DONE] add new to do</li>
			<li>delete to do</li>
			<li>[DONE] edit to do</li>
			<li>mark todo as completed</li>
		</ul>
		<h2>To dos</h2>
		<div hx-target="this" hx-swap="innerHTML">
			<TodosList {todos} />
		</div>
	</body>


</html>
